{min_otp_version, "19.0"}.

{deps, [
    {lager, "3.2.1"},
    {sext, "1.4.0"},
    {jsx, "2.8.0"},
    {ranch, "1.2.1"},
    {erlcloud, "2.0.4"},

    {eredis, {git, "git://github.com/wooga/eredis.git", {tag, "master"}}},
    {types, {git, "https://github.com/lasp-lang/types", {tag, "master"}}},
    {time_compat, {git, "https://github.com/lasp-lang/time_compat", {tag, "0.0.2"}}}
]}.

{erl_opts, [debug_info,
            warnings_as_errors,
            {platform_define, "^[0-9]+", namespaced_types},
            {parse_transform, lager_transform}]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{preprocess, true}]}.

